.site-logo {
  max-width: 40px;
  margin-right: 10px;
}

.site-logo-title {
  font-size: 0.6em;
  max-width: 60%;
  line-height: 1.2;
}

.search-result-highlight {
  color: #fa2c2c;
  text-decoration: underline;
}
