.site-logo {
  max-width: 40px;
  margin-right: 10px;
}

.site-logo-title {
  font-size: 0.6em;
  max-width: 60%;
  line-height: 1.2;
}

.search-result-highlight {
  color: #fa2c2c;
  text-decoration: underline;
}

.aux-nav {
  .aux-nav-list {
    align-items: center;
  }

  .aux-nav-list-item {
    height: 70%;
    padding: 0;
    margin: 0px 6px;
    background-color: #50505033;
    border-radius: 6px;

    .site-button:hover {
      border-radius: 6px;
      background-image: none;
      background-color: #61616133;
    }
  }
}

.nav-list .nav-list-item {
  .nav-list-link:hover,
  .nav-list-link.active {
    background-image: linear-gradient(-90deg, #262831 0%, #1e2d4f 80%, rgba(32, 31, 35, 0) 100%);
  }
}

.main-content a {
  text-decoration: none;
}
